### The big picture

How many actors are there in the actors table?

In [ ]:
select  count(id) from actors

How many directors are there in the directors table?

In [ ]:
select  count(id) from directors

How many movies are there in the movies table?

In [ ]:
select  count(id) from movies

### Exploring the movies

From what year are the oldest and the newest movies? What are the names of those movies?

What movies have the highest and the lowest ranks?

What is the most common movie title?

In [ ]:
select name from movies as m 
order by year asc 
limit 1

In [ ]:
select name from movies as m 
order by year desc 
limit 1

In [ ]:
select name, count(*) from movies as m 
group by name
order by  count(*) desc 
limit 1

### Understanding the database

Are there movies with multiple directors? `directors.count > 1`

What is the movie with the most directors? Why do you think it has so many?

On average, how many actors are listed by movie?

Are there movies with more than one “genre”?

In [ ]:
select name, count(*) from directors as d
join movies_directors as md on md.director_id = d.id
join movies as m on md.movie_id = m.id
where count(*) > 1

In [ ]:
select name, count(*) from directors as d
join movies_directors as md on md.director_id = d.id
join movies as m on md.movie_id = m.id
group by name
order by count(*) desc

In [ ]:
select first_name,name from actors as a
join roles as r on r.actor_id = a.id
join movies as m on r.movie_id = m.id

In [ ]:
select genre,count(name) from movies as m
join movies_directors as md on md.movie_id = m.id
join directors_genres as dg on dg.director_id = m.id
group by genre 
order by count(name) desc

### Looking for specific movies

Can you find the movie called “Pulp Fiction”?
Who directed it?
Which actors where casted on it?

Can you find the movie called “La Dolce Vita”?
Who directed it?
Which actors where casted on it?

When was the movie “Titanic” by James Cameron released?
Hint: there are many movies named “Titanic”. We want the one directed by James Cameron.
Hint 2: the name “James Cameron” is stored with a weird character on it.

In [ ]:
select * from actors as a
join roles as r on r.actor_id = a.id
join movies as m on r.movie_id = m.id
where m.name = 'Pulp Fiction'

select * from directors as d
join movies_directors as md on md.director_id = d.id
join movies as m on md.movie_id = m.id
where m.name = 'Pulp Fiction'

In [ ]:
select * from directors as d
join movies_directors as md on md.director_id = d.id
join movies as m on md.movie_id = m.id
where m.name = 'Titanic'
and d.last_name = 'Cameron'

### Actors and directors

Who is the actor that acted more times as “Himself”? `name equals`

What is the most common name for actors? And for directors? `count actors.name`

In [ ]:
select first_name, last_name, role from actors as a
join roles as r on r.actor_id = a.id
where a.first_name = r.role

In [ ]:
select first_name, count(first_name) from actors
group by first_name
order by count(first_name) desc
limit 1

In [ ]:
select first_name, count(first_name) from directors
group by first_name
order by count(first_name) desc
limit 1

### Analysing genders

How many actors are male and how many are female?

What percentage of actors are female, and what percentage are male?

In [ ]:

select gender, count(*)
from actors
where gender = 'M'
group by gender

select gender, count(*)
from actors
where gender = 'F'
group by gender

In [ ]:
select gender, count(*) * 100.0 / (select count(*) from actors)
from actors
where gender = 'F'
group by gender

select gender, count(*) * 100.0 / (select count(*) from actors)
from actors
where gender = 'M'
group by gender

### Movies across time

How many of the movies were released after the year 2000?   `year(date_field) > '2000'`

How many of the movies where released between the years 1990 and 2000? `year(date_field) between('2000','1990'`

Which are the 3 years with the most movies? `count movies group by year sort descending`

How many movies were produced on those years? 

What are the top 5 movie genres?

What are the top 5 movie genres before 1920? `count movies where year < 1920 group by genre sort descending`

What is the evolution of the top movie genres across all the decades of the 20th century? `plot top movies by decade`

In [ ]:
select count(*) from movies
where year > 2000

In [ ]:
select count(*) from movies
where year between 1990 and 2000

In [ ]:
select year, count(name) from movies
where year between 1990 and 2000
group by year
order by count(name) desc
limit 3

In [ ]:
select genre,count(*) from movies as m
join movies_genres as mg on mg.movie_id = m.id
group by genre
order by count(*) desc
limit 5

In [ ]:
select genre,count(*) from movies as m
join movies_genres as mg on mg.movie_id = m.id
where year < 1920
group by genre
order by count(*) desc
limit 5

### Putting it all together: names, genders and time

Has the most common name for actors changed over time?

Get the most common actor name for each decade in the XX century.

Re-do the analysis on most common names, splitted for males and females.

How many movies had a majority of females among their cast?

What percentage of the total movies had a majority female cast?

In [ ]:
select first_name,count(first_name) from actors as a
-- join roles as r on a.id = r.actor_id
-- join movies as m on m.id = r.movie_id
group by first_name
order by count(first_name) desc

In [ ]:
select count gender from actors
join roles on a.id == r.actor_id
join movies m.id == r.movie_id
group by year
sort descending

In [ ]:
select count m.name from actors
join roles on a.id == r.actor_id
join movies m.id == r.movie_id
group by gender
sort descending

In [ ]:
select gender, count(*) * 100.0 / (select count(*) from actors)
from actors as a
join roles as r on a.id == r.actor_id
join movies as m on m.id == r.movie_id
where gender = 'F'
group by gender

### subqueries, views (temporary tables)
Now, you will have to implement them in these challenges using the MAGIST database

Select all the products from the health_beauty or perfumery categories that
have been paid by credit card with a payment amount of more than 1000$,
from orders that were purchased during 2018 and have a ‘delivered’ status

For the products that you selected, get the following information:
The average weight of those products
The cities where there are sellers that sell those products
The cities where there are customers who bought products

In [ ]:
select AVG(product_weight_g) from order_items as oi
    join products as p on oi.product_id = p.product_id
    left join orders on orders.order_id = oi.order_id
    
    where oi.order_id in
    (select distinct od.order_id from orders as od
	left join customers as c on c.customer_id = od.customer_id
	left join order_payments as op on od.order_id = op.order_id
    where op.payment_type = 'credit_card'
    and op.payment_value > 1000.00
    and od.order_status = 'delivered'
	and year(od.order_purchase_timestamp) = '2018'
    )
    and p.product_id in
    (select distinct product_id from products
	join product_category_name_translation as pt on p.product_category_name = pt.product_category_name
    where product_category_name_english in('health_beauty','perfumery')
    )
    and orders.customer_id in
    (
	select od.customer_id from orders as od
    left join sellers as se on se.seller_id = od.customer_id
	left join geo on zip_code_prefix = se.seller_zip_code_prefix
    group by state
    having count(order_id) > 1
    )
    and orders.customer_id in
    (
	select od.customer_id from orders as od
    left join customers as c on c.customer_id = od.customer_id
	left join geo on zip_code_prefix = c.customer_zip_code_prefix
    group by state
    having count(order_id) > 1 
    )

In [ ]:
# stored routines
USE `magist`;


with product_CTE (weight,pid,oid)
as (
	select product_weight_g, oi.product_id, oi.order_id from order_items as oi
    join products as p on oi.product_id = p.product_id    
	join product_category_name_translation as pt on p.product_category_name = pt.product_category_name
    where product_category_name_english in('health_beauty','perfumery')
),
payment_CTE (oid, cid) as (
	select distinct od.order_id,od.customer_id from orders as od
	left join customers as c on c.customer_id = od.customer_id
	left join order_payments as op on od.order_id = op.order_id
    where op.payment_type = 'credit_card'
    and op.payment_value > 1000.00
    and od.order_status = 'delivered'
	and year(od.order_purchase_timestamp) = '2018'
),
seller_CTE (state,cid) as (
	select state,orders.customer_id from orders
    left join sellers as se on se.seller_id = orders.customer_id
	left join geo on zip_code_prefix = se.seller_zip_code_prefix
    group by state
    having count(order_id) > 1
),
customer_CTE (state,cid) as (
	select state,orders.customer_id from orders
    left join customers as c on c.customer_id = orders.customer_id
	left join geo on zip_code_prefix = c.customer_zip_code_prefix
    group by state
    having count(order_id) > 1 
)
select * from product_CTE as prc
join payment_CTE as pyc on prc.oid = pyc.oid
join seller_CTE as sc on sc.cid = pyc.cid
join customer_CTE as cc on cc.cid = pyc.cid

### Create a stored procedure that gets as input:

The name of a state (the full name from the table you imported).
The name of a product category (in English).
A year

### And outputs 
from the given state & category & year
the average score for reviews left by customers 
for orders with the status “delivered"
containing at least a product in the given category, 
and placed on the given year.

In [ ]:
# state, category, year

create procedure avgReviewsDelivered(
    in state mediumtext, 
    in year timestamp,
    in category text,
    out retval float)
begin
    select AVG(review_score) from order_items as oi
	join order_reviews as odr on oi.order_id = odr.order_id
    join products as p on oi.product_id = p.product_id
    
    where oi.order_id in
    (select distinct order_id from orders as od
	left join customers as c on c.customer_id = od.customer_id
	left join geo on zip_code_prefix = c.customer_zip_code_prefix 
    where geo.state = state
    and od.order_status = 'delivered'
	and year(od.order_purchase_timestamp) = year
    )
    
    and p.product_id in
    (select distinct product_id from products
	join product_category_name_translation as pt on p.product_category_name = pt.product_category_name
    where product_category_name_english = category)
    
end

In [ ]:

# test state = 'SP', order_status = 'delivered'
# year = '2018', category = 'agro_industry_and_commerce'
call avgReviewsDelivered(state,year,category,@retval);
select @retval

### SQL Challenge

### Expand the database
* Find online a dataset that contains the abbreviations for the Brazilian states and the full names of the states. It does not need to contain any other information about the states, but it is ok if it does.

* Import the dataset as an SQL table in the Magist database.

* Create the appropriate relationships with other tables in the database.

In [ ]:
CREATE TABLE magist.brstates (
  id INT PRIMARY KEY AUTO_INCREMENT,
  name VARCHAR(255) NOT NULL,
  code VARCHAR(255) NOT NULL,
);


INSERT INTO brstates (full_name, abbreviation)
VALUES
  ('Acre', 'AC'),
  ('Alagoas', 'AL'),
  ('Amapá', 'AP'),
  ('Amazonas', 'AM'),
  ('Bahia', 'BA'),
  ('Ceará', 'CE'),
  ('Distrito Federal', 'DF'),
  ('Espírito Santo', 'ES'),
  ('Goiás', 'GO'),
  ('Maranhão', 'MA'),
  ('Mato Grosso', 'MT'),
  ('Mato Grosso do Sul', 'MS'),
  ('Minas Gerais', 'MG'),
  ('Pará', 'PA'),
  ('Paraíba', 'PB'),
  ('Paraná', 'PR'),
  ('Pernambuco', 'PE'),
  ('Piauí', 'PI'),
  ('Rio de Janeiro', 'RJ'),
  ('Rio Grande do Norte', 'RN'),
  ('Rio Grande do Sul', 'RS'),
  ('Rondônia', 'RO'),
  ('Roraima', 'RR'),
  ('Santa Catarina', 'SC'),
  ('São Paulo', 'SP'),
  ('Sergipe', 'SE'),
  ('Tocantins', 'TO');

### Analyze customer reviews
* Find the average review score by state of the customer.

* Do reviews containing positive words have a better score? Some Portuguese positive words are: “bom”, “otimo”, “gostei”, “recomendo” and “excelente”.

* Considering only states having at least 30 reviews containing these words, what is the state with the highest score?
* What is the state where there is a greater score change between all reviews and reviews containing positive words?

### Automatize a KPI
* Create a stored procedure that gets as input:

The name of a state (the full name from the table you imported).
The name of a product category (in English).
A year
And outputs the average score for reviews left by customers from the given state for orders with the status “delivered, containing at least a product in the given category, and placed on the given year.

In [ ]:
CREATE PROCEDURE `GetStateProductCategoryScore` (
  IN stateName VARCHAR(255),
  IN categoryName VARCHAR(255),
  IN orderYear INT,
  OUT avgScore DECIMAL(10,2)
)
BEGIN
  SELECT AVG(reviews.score) INTO avgScore
  FROM orders
  JOIN order_items ON orders.id = order_items.order_id
  JOIN products ON order_items.product_id = products.id
  JOIN reviews ON orders.id = reviews.order_id
  JOIN addresses ON orders.shipping_address_id = addresses.id
  JOIN states ON addresses.state_id = states.id
  WHERE states.state = stateName
    AND products.category = categoryName
    AND orders.status = 'delivered'
    AND YEAR(orders.created_at) = orderYear;
END

CALL GetStateProductCategoryScore('São Paulo', 'Electronics', 2022, @avgScore);
SELECT @avgScore;