# From SQL to Pandas Challenge 4

In [1]:
# import libraries
import pandas as pd

# load data
# This code is made to load our data stored on Google Drive
def gd_path(file_id):
    """Generate a shareable link from Google Drive file id."""
    return f"https://drive.google.com/uc?export=download&id={file_id}"

# Google Drive file ids
files_id = {
    "titleauthor": "1F1JOiYXStWacOBca6coNVfyVtoST7ZgD",
    "titles": "1PLdn50N9GRa53ZbuVWo0l47F_IXdvlEm",
    "stores": "1f-GCgip7O93CpbAkYvOsc21eKnSOSHsQ", 
    "sales": "1fzFc9rwYmVIPaGOFmhLVxCi3kg19vNU2", 
    "roysched": "1zPRZPoFPEMKyrNR5VSENeYFHGCBZmxbs", 
    "publishers": "1s9E8_AVOziTrowb3wyh2jg3PV763VOyq",
    "pub_info": "1OEgogcGKy--EpuVj0kqq7lyBZNGW6YSv", 
    "jobs": "1V1Za8hUdXD-vJOyRdX4aQV5wanIff2eM", 
    "employee": "1h9mUjsVqpP74b1w0x7KOw37n_n9Ulkt5", 
    "discounts": "111dvSxMcCsTgOuV1wDSKFJxO1Xcxd9VS", 
    "authors": "1fEF89Nhe61EebAljKlwFwfEuokK0o6aJ"
}

# Read data from Google Drive
sales = pd.read_csv(gd_path(files_id["sales"]), sep=";")
authors = pd.read_csv(gd_path(files_id["authors"]), sep=";")
publishers = pd.read_csv(gd_path(files_id["publishers"]), sep=";")
titles = pd.read_csv(gd_path(files_id["titles"]), sep=";")
employee = pd.read_csv(gd_path(files_id["employee"]), sep=";")

## 1. From how many different states are our authors?

In [7]:
len(authors['state'].unique())

8

### Hint:

In SQL the syntax is:

```sql
SELECT COUNT(DISTINCT state) 
FROM authors;
```

## 2. How many publishers are based in the USA?

In [10]:
publishers[publishers['country']=='USA'].count()

pub_id      6
pub_name    6
city        6
state       6
country     6
dtype: int64

### Hint:

In SQL the syntax is:

```sql
SELECT  COUNT(pub_id)
FROM publishers 
WHERE country ="USA" ;
```

## 3. What's the average quantity of titles sold per sale by store 7131?

In [15]:
# sales.info()
sales[sales['stor_id']==7131]['qty'].mean()

21.666666666666668

### Hint:

In SQL the syntax is:

```sql
SELECT AVG(qty)
FROM sales
WHERE stor_id=7131;
```

## 4. When was the employee with the highest level hired?

In [19]:
employee.sort_values(by='job_lvl',ascending=False)['hire_date'].head(1)

26    1989-03-01 00:00:00
Name: hire_date, dtype: object

### Hint:

In SQL the syntax is:

```sql
SELECT hire_date
FROM employee
ORDER BY job_lvl DESC
LIMIT 1;
```

## 5. What's the average price of psychology books?

In [20]:
titles[titles['type']=='psychology']['price'].mean()

13.504

### Hint:

In SQL the syntax is:

```sql
SELECT AVG(price)
FROM titles
WHERE type = "psychology";
```

## 6. Which category of books has had more year-to-date sales, "business" or "popular_comp"? You can write two queries to answer this question.

### business

In [22]:
print(titles[titles['type']=='business']['ytd_sales'].sum())

30788
12875

### Hint:

In SQL the syntax is:

```sql
SELECT SUM(ytd_sales), type 
FROM titles
WHERE type = "business";
```

### popular_comp

In [ ]:
print(titles[titles['type']=='popular_comp']['ytd_sales'].sum())

### Hint:

In SQL the syntax is:

```sql
SELECT SUM(ytd_sales), type 
FROM titles
WHERE type = "popular_comp";
```

## 7. What's the title and the price of the most expensive book?

In [23]:
titles.sort_values(by='price',ascending=False)[['title','price']].head(1)

                      title  price
7  But Is It User Friendly?  22.95

### Hint:

In SQL the syntax is:

```sql
SELECT title, price
FROM titles
ORDER BY price DESC
LIMIT 1;
```

## 8. What's the price of the most expensive psychology book?

In [25]:
# titles[titles['type']=='psychology'].sort_values(by='price',ascending=False)[['title','price']].head(1)
titles[titles['type']=='psychology']['price'].agg(max)

21.59

### Hint:

In SQL the syntax is:

```sql
SELECT MAX(price) 
FROM titles
WHERE type = "psychology";
```

## 9. How many authors live in either San Jose or Salt Lake City

In [37]:
authors[((authors['city'] == 'Salt Lake City') | (authors['city'] == 'San Jose'))].count()

au_id       3
au_lname    3
au_fname    3
phone       3
address     3
city        3
state       3
zip         3
contract    3
dtype: int64

### Hint:

In SQL the syntax is:

```sql
SELECT COUNT(au_id)
FROM authors
WHERE (city = "San Jose" 
OR city = "Salt Lake City");
```