# From SQL to pandas challenge 7

In [2]:
# import libraries
import pandas as pd

# load data
# This code is made to load our data stored on Google Drive
def gd_path(file_id):
    """Generate a shareable link from Google Drive file id."""
    return f"https://drive.google.com/uc?export=download&id={file_id}"

# Google Drive file ids
files_id = {
    "titleauthor": "1F1JOiYXStWacOBca6coNVfyVtoST7ZgD",
    "titles": "1PLdn50N9GRa53ZbuVWo0l47F_IXdvlEm",
    "stores": "1f-GCgip7O93CpbAkYvOsc21eKnSOSHsQ", 
    "sales": "1fzFc9rwYmVIPaGOFmhLVxCi3kg19vNU2", 
    "roysched": "1zPRZPoFPEMKyrNR5VSENeYFHGCBZmxbs", 
    "publishers": "1s9E8_AVOziTrowb3wyh2jg3PV763VOyq",
    "pub_info": "1OEgogcGKy--EpuVj0kqq7lyBZNGW6YSv", 
    "jobs": "1V1Za8hUdXD-vJOyRdX4aQV5wanIff2eM", 
    "employee": "1h9mUjsVqpP74b1w0x7KOw37n_n9Ulkt5", 
    "discounts": "111dvSxMcCsTgOuV1wDSKFJxO1Xcxd9VS", 
    "authors": "1fEF89Nhe61EebAljKlwFwfEuokK0o6aJ"
}

# Read data from Google Drive
authors = pd.read_csv(gd_path(files_id["authors"]), sep=";")
titles = pd.read_csv(gd_path(files_id["titles"]), sep=";")
sales = pd.read_csv(gd_path(files_id["sales"]), sep=";")
employee = pd.read_csv(gd_path(files_id["employee"]), sep=";")

## 1. Find the total amount of authors for each state

In [9]:
authors.groupby('state').count()

       au_id  au_lname  au_fname  phone  address  city  zip  contract
state
CA        15        15        15     15       15    15   15        15
IN         1         1         1      1        1     1    1         1
KS         1         1         1      1        1     1    1         1
MD         1         1         1      1        1     1    1         1
MI         1         1         1      1        1     1    1         1
OR         1         1         1      1        1     1    1         1
TN         1         1         1      1        1     1    1         1
UT         2         2         2      2        2     2    2         2

### Hint:

In SQL the syntax is:

```sql
SELECT COUNT(au_id) , state
FROM authors
group by state;
```

## 2. Find the total amount of authors by each state and order them in descending order

In [16]:
authors.groupby('state',sort=True)['au_id'].count().sort_index(ascending=False)

state
UT     2
TN     1
OR     1
MI     1
MD     1
KS     1
IN     1
CA    15
Name: au_id, dtype: int64

### Hint:

In SQL the syntax is:

```sql
SELECT COUNT(au_id) Total,state
FROM authors
GROUP BY state
ORDER BY (total) DESC;
```

## 3. What's the price of the most expensive title from each publisher?

In [15]:
titles.groupby('pub_id',sort=True)['price'].agg(max).sort_index(ascending=False).head(1)

pub_id
1389    22.95
Name: price, dtype: float64

### Hint:

In SQL the syntax is:

```sql
SELECT MAX(price), pub_id
FROM titles
GROUP BY pub_id;
```

## 4. Find out the top 3 stores with the most sales

In [17]:
sales.groupby('stor_id',sort=True)['qty'].sum().sort_values(ascending=False).head(3)

stor_id
7131    130
7066    125
7067     90
Name: qty, dtype: int64

### Hint:

In SQL the syntax is:

```sql
SELECT stor_id, SUM(qty)
FROM sales
GROUP BY stor_id
ORDER BY SUM(qty) DESC
LIMIT 3;
```

## 5. Find the average job level for each job_id from the employees table.
    Order the jobs in ascending order by its average job level.

In [18]:
employee.groupby('job_id',sort=True)['job_lvl'].mean().sort_values()

job_id
12     55.666667
13     66.333333
14     74.666667
10    101.750000
11    121.750000
9     123.250000
8     125.250000
7     142.500000
6     176.000000
5     187.285714
3     200.000000
2     215.000000
4     227.000000
Name: job_lvl, dtype: float64

### Hint:

In SQL the syntax is:

```sql
SELECT AVG(job_lvl), job_id
FROM employee
GROUP BY job_id
ORDER BY AVG(job_lvl);
```

## 6. For each type (business, psychologyâ€¦), find out how many books each publisher has

In [19]:
titles.groupby(['pub_id','type'])['title_id'].count()

pub_id  type
736     business        1
        psychology      4
877     UNDECIDED       1
        mod_cook        2
        psychology      1
        trad_cook       3
1389    business        3
        popular_comp    3
Name: title_id, dtype: int64

### Hint:

In SQL the syntax is:

```sql
SELECT pub_id, type, COUNT(title_id)
FROM titles
GROUP BY pub_id , type;
```

## 7. Add the average price of each publisher - book type combination from your previous query

In [155]:
# df.groupby('Team').agg({'Age': ['mean', 'min', 'max']})
titles.groupby(['pub_id','type','title_id'])['price'].mean()

pub_id  type          title_id
736     business      BU2075       2.99
        psychology    PS2091      10.95
                      PS2106       7.00
                      PS3333      19.99
                      PS7777       7.99
877     UNDECIDED     MC3026       0.00
        mod_cook      MC2222      19.99
                      MC3021       2.99
        psychology    PS1372      21.59
        trad_cook     TC3218      20.95
                      TC4203      11.95
                      TC7777      14.99
1389    business      BU1032      19.99
                      BU1111      11.95
                      BU7832      19.99
        popular_comp  PC1035      22.95
                      PC8888      20.00
                      PC9999       0.00
Name: price, dtype: float64

### Hint:

In SQL the syntax is:

```sql
SELECT  AVG(price), COUNT(*), pub_id,type
FROM titles
GROUP BY pub_id, type;
```

# BONUS

This is part of the section Advanced Pandas.

## 8. From your previous query, keep only the combinations of publisher - book type with an average price higher than 12

In [156]:
# titles.groupby(['pub_id','type'])['price'].apply(lambda s: s.mean())
# titles.groupby(['pub_id','type'])['price'].filter(lambda s:s.mean()>12)
# titles.groupby(['pub_id','type'])['price'].mean().sort_values(ascending=False) ##works
titles.groupby(['pub_id','type','title_id']).agg({'price': 'mean'}).query('price > 12') ##works

                              price
pub_id type         title_id
736    psychology   PS3333    19.99
877    mod_cook     MC2222    19.99
       psychology   PS1372    21.59
       trad_cook    TC3218    20.95
                    TC7777    14.99
1389   business     BU1032    19.99
                    BU7832    19.99
       popular_comp PC1035    22.95
                    PC8888    20.00

### Hint:

In SQL the syntax is:

```sql
SELECT pub_id,type, COUNT(*)
FROM titles
GROUP BY pub_id, type
HAVING AVG(price) > 12;
```

## 9. Order the results of your previous query by these two criteria:
1. Count of books, descendingly
2. Average price, descendingly

In [158]:
titles.groupby(['pub_id','type','title_id']).agg({'price': 'mean'}).query('price > 12').sort_values(by='price',ascending=False).sort_values(by='title_id',ascending=False)

                              price
pub_id type         title_id
877    trad_cook    TC7777    14.99
                    TC3218    20.95
736    psychology   PS3333    19.99
877    psychology   PS1372    21.59
1389   popular_comp PC8888    20.00
                    PC1035    22.95
877    mod_cook     MC2222    19.99
1389   business     BU7832    19.99
                    BU1032    19.99

### Hint:

In SQL the syntax is:

```sql
SELECT  pub_id, type, COUNT(*), AVG(price)
FROM titles
GROUP BY pub_id, type
HAVING AVG(price) > 12
ORDER BY COUNT(*) DESC, AVG(price) DESC;
```

## 10. Some authors have a contract, while others don't - it's indicated in the "contract" column of the authors table.
     
    Select all the states and cities where there are 2 or more contracts overall

In [160]:
authors.groupby(['state','city']).agg({'contract': 'sum'}).query('contract > 1')

                      contract
state city
CA    Berkeley               2
      Oakland                4
      Palo Alto              2
UT    Salt Lake City         2

### Hint:

In SQL the syntax is:

```sql
SELECT SUM(contract),city,state
FROM authors
GROUP BY state,city
HAVING SUM(contract)>1;
```