In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

flights = pd.read_csv('~/Documents/datacamp/WBS-School/LAflights.csv')

flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326738 entries, 0 to 326737
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   fl_datetime  326738 non-null  object
 1   tail_num     326738 non-null  object
 2   op_carrier   326738 non-null  object
 3   origin       326738 non-null  object
 4   dest         326738 non-null  object
 5   dep_time     326738 non-null  int64
 6   arr_time     326738 non-null  int64
 7   dep_delay    326738 non-null  int64
 8   arr_delay    326738 non-null  int64
 9   air_time     326738 non-null  int64
dtypes: int64(5), object(5)
memory usage: 24.9+ MB

In [3]:
flights.head(5)

,fl_datetime,tail_num,op_carrier,origin,dest,dep_time,arr_time,dep_delay,arr_delay,air_time
0,2018-01-01 10:24:00,302NV,G4,LAX,MFR,1024,1227,24,29,92
1,2018-01-01 08:24:00,332NV,G4,LAX,CVG,824,1521,84,74,208
2,2018-01-01 21:31:00,N510NK,NK,LAX,BWI,2131,511,15,11,256
3,2018-01-01 23:23:00,N615NK,NK,LAX,CLE,2323,701,-7,9,238
4,2018-01-01 08:13:00,N650NK,NK,LAX,IAH,813,1321,-6,-14,158
5,2018-01-01 21:21:00,N514NK,NK,LAX,PHL,2121,511,-9,-3,269
6,2018-01-01 22:31:00,N525NK,NK,LAX,FLL,2231,605,11,-6,250
7,2018-01-01 18:45:00,N614NK,NK,LAX,IAH,1845,2342,0,-16,148
8,2018-01-01 10:50:00,N200WN,WN,BUR,DAL,1050,1531,20,11,146
9,2018-01-01 07:13:00,N936WN,WN,BUR,DEN,713,1010,-2,-20,103

In [ ]:
#
# 1. Carriers on time: given a destination and a departure date, 
# returns the three carriers with a lower departure delay in average.

# 2. Crowd avoidance: given a destination and a month, recommend 
# which are the 5 best days and time range (morning, afternoon, evening and night) 
# where there is a low number of flights departing from the airport, so there will be less people on there. 
# The output of this functions should be two functions called 
# carriers_on_time(dest,dep)
# crowd_avoidance(dest,mo)

# The time ranges will be:
# Morning: 5 am to 12 pm (noon)
# Afternoon: 12 pm to 5 pm
# Evening: 5 pm to 9 pm
# Night: 9 pm to 4 am
#
# Los Angeles International Airport (LAX)
# Ontario International Airport (ONT)
# John Wayne Airport (SNA)
# Hollywood Burbank Airport (BUR)
# Long Beach Airport (LGB)

In [142]:
from datetime import datetime
# input (str), (datetime)
# returns the three carriers with a lower departure delay in average.
def carriers_on_time(dest,dept_str) : 
    # test input strings
    
    # match departure date & destination
    carriers_df = flights[flights['fl_datetime'].str.contains(dept_str)][['op_carrier','dep_delay','dest']][flights['dest']==dest].sort_values(by='dep_delay',ascending=True)
    # match carriers for dept date
    # df3 = carriers_df.merge(delays_df,on='op_carrier')
    # display(df3)
    # df = flights.groupby('op_carrier','dep_delay','dep_time','fl_datetime').agg({'dep_delay':'mean'})
    delays_df = carriers_df.groupby('op_carrier').agg({'dep_delay':'mean'}).sort_values(by='dep_delay',ascending=True)
    display(delays_df)

In [143]:
# test 
carriers_on_time('SFO', '2018-01-01')

/var/folders/qk/tw9hw7y536n3q312492k3k3m0000gn/T/ipykernel_90035/881932635.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  carriers_df = flights[flights['fl_datetime'].str.contains(dept_str)][['op_carrier','dep_delay','dest']][flights['dest']==dest].sort_values(by='dep_delay',ascending=True)

            dep_delay
op_carrier
B6           2.400000
OO           9.611111
CP           9.916667
VX          10.900000
UA          17.642857
WN          22.666667
QX          32.500000

In [144]:
# origin, month
# where there is a low number of flights departing from the airport
# which are the 5 best days and time range (morning, afternoon, evening and night)

In [309]:
# input (str), (int)
# return 5 (day, time range)
def crowd_avoidance(origin,mo) : 
    # test input strings
    # 'op_carrier','dep_delay','origin','fl_datetime'
    flights.loc[(flights['dep_time'] >500)&(flights['dep_time'] <=1200),'time_range'] = 'morning'
    flights.loc[(flights['dep_time'] >1200)&(flights['dep_time'] <=1800),'time_range'] = 'afternoon'
    flights.loc[(flights['dep_time'] >1800)&(flights['dep_time'] <=2400),'time_range'] = 'evening'
    flights.loc[(flights['dep_time'] >2400)&(flights['dep_time'] <=500),'time_range'] = 'night'
    # match month from date
    # departures_df = flights[(flights['dest']==origin)&(flights['fl_datetime'].str.contains('\d{4}-'+mo))]
    # departures_df = departures_df[['op_carrier','dest','fl_datetime','time_range']].value_counts().sort_values(ascending=True).head(5)
    departures_df = flights[(flights['origin']==origin)&(flights['fl_datetime'].str.contains('\d{4}-'+mo))]
    departures_df = departures_df[['origin','fl_datetime','time_range']].value_counts().sort_values(ascending=False).head(5)
    # filter from departures_df
    print(departures_df)

In [310]:
# test 
crowd_avoidance('LAX', '05')
# crowd_avoidance('ONT', '01')
# crowd_avoidance('SNA', '01')
# crowd_avoidance('BUR', '01')
# crowd_avoidance('LGB', '01')
# note: no results exists for given destination test data, so we are matching for origin

origin  fl_datetime          time_range
LAX     2018-05-27 05:55:00  morning       6
        2018-05-25 11:30:00  morning       5
        2018-05-15 06:55:00  morning       5
        2018-05-27 08:15:00  morning       5
        2018-05-29 19:45:00  evening       5
dtype: int64